mat-toolbar {
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 50px;
}

.example-spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  // color: rgb(96, 190, 129);
  cursor: pointer;
}

a:hover {
  color: #e94d93
}

.nav-links {
  list-style: none;
}

.active-link {
  color: #4cd2e3;
}

nav {
  margin-top: 50px;
}