.home {
    padding-top: 80px;
}

.smallScreen {
    padding-top: 15px;
}

.example-card {
    margin-bottom: 20px;
    max-width: 900px;
}

.image-logo {
    background-image: url("https://cdn.freebiesupply.com/logos/large/2x/star-wars-logo-black-and-white.png");
    background-size: cover;
}

mat-card:hover,
mat-card:focus {
    transform: scale(1.02);
    transition: .2s;
}


@media only screen and (max-width: 600px) {
    .poster-width {
        width: 380px;
    }
}